
body{
    margin: auto;
    background-size:100% 100%;
}
    #header {
        margin: auto;
        padding: 30px 0 20px;
        text-align: center;
        width: 960px;
  
    }
    #header .logo a {
        text-decoration: none;
        
    }
    #header ul {
        margin: 0;
        padding: 30px 0 0;
    }
    #header ul li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0 19px;
    }
    #header ul li a {
        color: #252525;
        display: inline-block;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0 0 3px;
        text-decoration: none;
        text-transform: uppercase;
    }
    #header ul li a:hover, #header ul li.selected a {
        color: #968808;
    }
 












#body {
	margin: 30px;
	padding: 0 0 30px;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: 'Poller One', cursive;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	
}
#body > section .article h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 30px;
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}
#body > section {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}


#body section ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body section ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body section ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body section ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body section ul li .figure:hover img {
	opacity: 1;
}
#body section ul li section {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body section ul li section h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body section ul li section p {
	padding: 30px 30px 18px;
}
#body section ul li section a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body section ul li section a.more:hover {
	color: #252525;
	background: #fff;
	border: 1px solid #252525;
}



	





#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
    
}
#footer section {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer section p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer section ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer section ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer section ul li a {
	background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer section ul li #twitter {
	background-position: 0 0;
}
#footer section ul li #twitter:hover {
	background-position: -44px 0;
}
#footer section ul li #facebook {
	background-position: 0 -44px;
}
#footer section ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer section ul li #googleplus {
	background-position: 0 -88px;
}
#footer section ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer section ul li #pinterest {
	background-position: 0 -132px;
}
#footer section ul li #pinterest:hover {
	background-position: -44px -132px;
}