
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
	background-size: auto;
	
    }
    
    p {
        color: #282529;
        line-height: 24px;
        margin: 0;
        padding: 0;
    }
    p a {
        color: #252525;
        text-decoration: underline;
    }
    p a:hover {
        color: #898989;
    }

    #header {
        margin: 0 auto;
        padding: 44px 0 50px;
        text-align: center;
        width: 960px;
      
    }
    #header .logo a {
        display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
   
    }

    #header a.logo img {
        border: 0;
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 300px;
        
    }

   #header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
    #header ul li a {
        color: #075023;
        display: inline-block;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0 0 3px;
        text-decoration: none;
        text-transform: uppercase;
    }
    #header ul li a:hover, #header ul li.selected a {
        color: #c407aa;
    }
    #main {
        margin: 0;
        padding: 0 0 30px;
        text-align: center;
   
 }
 #main  h1 {
	color: #fff;
	display: inline;
	font-family: 'Poller One', cursive;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#main h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}
#main > section {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#main > section img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}

#main > section .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
#main > section .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#main > section .article h3 {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#main > section .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#main > section .article p {
	margin: 0 0 30px;
}

#main section ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#main section ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#main section ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#main section ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#main section ul li .figure:hover img {
	opacity: 1;
}
#main section ul li section {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#main section ul li section h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#main section ul li section p {
	padding: 30px 30px 18px;
}
#main section ul li section a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#main section ul li section a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}


#main #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}
#main #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
    border: 2px solid #1a1a1a;
}
#main #featured section {
	left: 50%;
	margin-left: -300px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
}
#main #featured section h2 {
	background: #fff;
    color: #000;
    display: inline-block;
    font-family: 'Poller One', cursive;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 8px;
    padding: 23px 27px 20px;
    text-transform: uppercase;
}
#main #featured section span {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin: 7px 0;
	padding: 12px 27px;
    font-family: 'Raleway', sans-serif;
}
#main #featured section a {
	background: #a3730b;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#main #featured section a:hover {
    background: #d89608;

}


#main > ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;
}
#main > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#main > ul li a img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .9;
    transition: 0.5s ease-in-out;
}
#main > ul li a:hover img {
	opacity: 1;
}
#main > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}

#main > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#main > ul li a {
	color: #000;
	display: block;
	font-family: 'Poller One', cursive;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

}

#main > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 30px;
}




#main form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}
#main form input, #main form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 596px;
}
#main form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}
#main form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}
#main form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}
#results {

	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 30pt;
	text-align:center;
	font-style:italic;


	
}

#footer {
	background: #252525;
	margin: auto;
	padding: 36px 0 42px;
    
}
#footer section {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer section p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer section ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer section ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer section ul li a {
	background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer section ul li #twitter {
	background-position: 0 0;
}
#footer section ul li #twitter:hover {
	background-position: -44px 0;
}
#footer section ul li #facebook {
	background-position: 0 -44px;
}
#footer section ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer section ul li #googleplus {
	background-position: 0 -88px;
}
#footer section ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer section ul li #pinterest {
	background-position: 0 -132px;
}
#footer section ul li #pinterest:hover {
	background-position: -44px -132px;
}